@model AdresDefteriVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div id="toolbar">
    <button id="delete" class="btn btn-danger">Sil</button>
    <button id="btnEkle" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalTable">
        Ekle
    </button>
</div>

<table id="table"
       data-toggle="table"
       data-click-to-select="true"
       data-show-columns="true"
       data-toolbar="#toolbar"
       data-pagination="true"
       data-search="true">
    <thead>
        <tr>
            <th id="chk" data-field="state" data-checkbox="true"></th>
            <th data-field="adres">Adres</th>
            <th data-field="mail">Mail</th>
            <th data-field="konum">Konum</th>
            <th data-field="operate" data-formatter="Kisiler">Kişi</th>
            <th data-field="operate" data-formatter="silGuncelle" data-events="window.operateEvents">İşlem</th>
        </tr>
    </thead>
    <tbody>

        <tr>
        </tr>

    </tbody>
</table>


<div id="modalTable" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal table</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div id="modal-body" class="modal-body">
                <form id="form">
                    <div class="form-group">
                        <label class="control-label">Adres</label>
                        <input name="adres" id="Adres" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mail</label>
                        <input name="mail" id="Mail" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Konum</label>
                        <input name="konum" id="Konum" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Kişiler</label>
                        <select name="kisiId" id="kisiId" class="form-control">
                        </select>
                        <span class="text-danger"></span>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button id="update" class="btn btn-info">İşlem Yap</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>


    let table = $("#table");
    List();

    $(document).ready(function () {

        $('#btnEkle').click(function () {
            KisiListesi();
        });

        $('#update').click(function () {
            Add();
        });

        $("#delete").click(function () {
            if (!confirm("Silmek istedğinize emin misiniz!")) {
                return;
            }
            let ids = $.map(table.bootstrapTable('getSelections'), function (row) {

                return row.id;
            });
            Delete(ids);
            table.bootstrapTable('remove', {
                field: 'id',
                values: ids
            });
        });
    });


    function KisiListesi() {
        let _url = "https://localhost:44353/api/Kisi/Get";
        $("#kisiId").empty();
        $.ajax({
            url: _url,
            type: 'GET',
            dataType: 'json',
            async: false,
            success: function (list) {

                for (var i = 0; i < list.length; i++) {
                    $('#kisiId').append(
                        `
                            <option value="${list[i].id}">${list[i].ad} ${list[i].soyad}</option>
                   `
                    );
                }

            },
            error: function (err) {
                console.log(err);
                alert("HATA VAR");
            }
        });

    };

    function Add() {
        let frm = $("#form");
        let _data = JSON.stringify(frm.serializeJSON());
        let _url = "https://localhost:44353/api/AdresDefteri/Post";
        console.log(_data);
        $.ajax({
            url: _url,
            type: 'POST',
            data: _data,
            async: false,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result) {
                window.location.reload();
                alert('Ekleme Yapıldı');
            },
            error: function (err) {
                window.location.reload();
                // console.log(err);
                alert("HATA VAR");
            }
        });
    }
    function List() {
        let _url = "https://localhost:44353/api/AdresDefteri/Get";
        $.ajax({
            url: _url,
            type: 'GET',
            dataType: 'json',
            async: false,
            success: function (liste) {
                table.bootstrapTable('load', liste);
                table.bootstrapTable(
                    {
                        data: liste
                    }
                );
            },
            error: function (err) {
                alert('Listeleme sırasında bir hata ile karşılaşıldı.');
            }
        });
    }
    window.operateEvents = {
        'click .sil': function (e, value, row, index) {
            table.bootstrapTable('remove', {
                field: 'id',
                values: [row.id]
            })
        }
    };
    function silGuncelle(value, row, index) {
        return [
            `<button class="btn btn-danger sil" onclick="Sil(${row.id})"><i class="fa fa-trash"></i> </button>`,
            '<button class="btn btn-info type="button" data-toggle="modal" data-target="#modalTable" onclick="UpdateButton(\'' + row.id + '\',\'' + row.adres + '\',\'' + row.mail + '\',\'' + row.konum + '\',\'' + row.kisiId + '\')"><i class="fa fa-edit"></i> </button>'
        ].join('');
    };

    function Sil(id) {
        if (!confirm("Silmek istediğinize emin misiniz!")) {
            return;
        }
        let _id = [id];
        let _data = JSON.stringify(_id);
        $.ajax({
            url: "https://localhost:44353/api/AdresDefteri/Delete",
            type: 'DELETE',
            dataType: 'json',
            data: _data,
            async: false,
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                alert("Silme başarılı");
                window.location.href = 'https://localhost:44368/AdresDefteri';
            },
            error: function (err) {
                alert("Delete kısmında hata var kontrol et!!!");
                console.log(err);
            },
        });
        table.bootstrapTable('remove', {
            field: 'id',
            values: _id
        });
    }
    function Delete(id) {
        let _data = JSON.stringify(id);
        let _url = "https://localhost:44353/api/AdresDefteri/Delete";
        $.ajax({
            url: _url,
            type: 'DELETE',
            dataType: 'json',
            data: _data,
            async: false,
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                alert("Silme Başarılı");
            },
            error: function (err) {
                alert("Delete kısmında hata var kontrol et!!!");
                console.log(err);
            }
        });
    };
    function AdresDefteri(id, adres, mail, konum, kisiId) {
        this.id = id;
        this.adres = adres;
        this.mail = mail;
        this.konum = konum;
        this.kisiId = kisiId;
    };
    function UpdateButton(id, adres, mail, konum, kisiId) {
        Edit(id);
        KisiListesi();
        $('#update').click(function () {
            adres = $('#Adres').val();
            mail = $('#Mail').val();
            konum = $('#Konum').val();
            kisiId = $('#kisiId').val();
            const adresDefteri = new AdresDefteri(id, adres, mail, konum, kisiId);
            Update(adresDefteri);
        });
    }; 

    var count = 0;

    function Kisiler(value, row, index) {
        //console.log(KisiGetir(row.kisiId));
       
        // KisiGetir(row.kisiId);
        console.log("deneme deneme");
        console.log(index);

        return [
            //KisiGetir(row.kisiId)
            /* `<span id="kisiList">${KisiGetir(row.kisiId)} </span>`*/
            /*`${KisiGetir(row.kisiId)}`*/
            /* `Yusuf Yılmaz(${row.kisiId})${KisiGetir(row.kisiId)}`*/
            /*`<b id="kisiListesi"></b>`*/

            '<input  id="inputdeneme' + index + '" onclick="KisiGetir(\'' + row.kisiId + '\',\'' + index + '\')" />'

        ].join('');
      
     
        }

    


    


        function KisiGetir(kisiId,satir) {
            console.log("deneme deneme");
            console.log("kisiid=>" + kisiId);
            console.log("satir=>"+satir);
            let _url = "https://localhost:44353/api/Kisi/Get/" + kisiId;
            $.ajax({
                url: _url,
                type: 'GET',
                dataType: 'json',
                data: { Id: kisiId },
                contentType: 'application/json; charset=utf-8',
                async: false,
                success: function (result) {

                    //$('#kisiListesi').html(
                    //    `
                    //            ${nesne.ad} ${nesne.soyad}

                    //   `
                    //);
                    console.log("girdi");
                    console.log(result);
                    $('#inputdeneme' + satir).val(result.ad);
                    //setTimeout(yenitest, 60000);
                    //function yenitest() {
                    //    debugger;
                    //    document.getElementById("deneme").value = "test";
                    //}
                    //var b = document.getElementById("deneme");
                    //$('#deneme').val("");
                    //console.log(result.ad + ' ' + result.soyad);
                    //console.log(result);
                    //debugger;
                    //$('#deneme').val(result.ad);
                    //console.log($("#deneme").val());
                    //debugger;
                    // document.getElementById("deneme").value = result.ad;



                },
                error: function (err) {
                    console.log(err);
                    alert("HATA VAR");
                }
            });

        };
    



    function Edit(id) {
        $.ajax({
            url: 'https://localhost:44353/api/AdresDefteri/Get/' + id,
            type: 'GET',
            dataType: 'json',
            data: {
                id: id
            },
            async: false,
            success: function (result) {
                $('#Adres').val(result.adres);
                $('#Mail').val(result.mail);
                $('#Konum').val(result.konum);
                $('#kisiId').val(result.kisiId);
            },
            error: function (err) {
                // console.log(err);
                alert('Update hatalı!!!');
            }
        });
    };

    function Update(nesne) {
        let _nesne = JSON.stringify(nesne);
        $.ajax({
            url: 'https://localhost:44353/api/AdresDefteri/Put',
            type: 'PUT',
            data: _nesne,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result) {
                //console.log(result);
                window.location.reload();
            },
            error: function (err) {
                window.location.reload();
                alert("Update kısmında hata var düzelt!!!");
            }
        });
    };

</script>