@model UI.Models.KisiVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>KisiVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="form">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input name="ad" asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyad" class="control-label"></label>
                <input name="soyad" asp-for="Soyad" class="form-control" />
                <span asp-validation-for="Soyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yas" class="control-label"></label>
                <input name="yas" asp-for="Yas" class="form-control" />
                <span asp-validation-for="Yas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="btnEkle" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>

    $(document).ready(function () {
        $("#btnEkle").click(function () {
            Add();
        });

    });

    function Add(event) {
        var frm = $("#form");
        var _data = JSON.stringify(frm.serializeJSON());

        $.ajax({
            url: 'https://localhost:44353/api/Kisi/Post',
            type: 'POST',
            data: _data,
            async: false,
            contentType: 'application/json; charset=utf-8',
           dataType: 'json',
            success: function (result) {
                console.log(result);
                alert("Ekleme başarılı");

                window.location.href= "https://localhost:44368/Kisi/Index";
            },
            error: function (err) {
                console.log(err);
                alert("HATA");
            }
        });
    };


    function GeriDon() {
        window.location.href = "https://localhost:44368/Kisi/Index";
    }

</script>