@model IEnumerable<UI.Models.KisiVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>



<table id="table"
       data-toggle="table"
       data-ajax="ajaxRequest"     @*AJAX için kullanılacak olan Fonksiyon adı dır.*@
       data-url="https://localhost:44353/api/Kisi"
       data-side-pagination="server"
       data-pagination="true"
       data-search="true">
    <thead>
        <tr>
            <th data-sortable="true" data-field="Ad">Ad</th>
            <th data-field="Soyad">Soyad</th>
            <th data-field="Yas">Yas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @*<td>1</td>
            <td>Item 1</td>
            <td>$1</td>*@
        </tr>
    </tbody>
</table>
<script>
    function ajaxRequest(result) {
        var url = "https://localhost:44353/api/Kisi";
        $.get(url + '?' + $.param(result.data)).then(function (item) {

            result.success(item);
        });
    }
</script>