@model IEnumerable<KisiVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div id="toolbar">
    <button id="delete" class="btn btn-danger">Sil</button>
    <button id="update" class="btn btn-info">Güncelle</button>
</div>

<table id="table"
       data-toggle="table"
       data-show-columns="true"
       data-toolbar="#toolbar"
       data-pagination="true"
       data-search="true"
       data-ajax="ajaxRequest" @*AJAX için kullanılacak olan Fonksiyon adı dır.*@
       data-url="https://localhost:44353/api/Kisi/GET"
       data-buttons="buttons">
    <thead>
        <tr>
            <th id="chk" data-field="state" data-checkbox="true"></th>
            <th data-field="ad">Ad</th>
            <th data-field="soyad">Soyad</th>
            <th data-field="yas">Yas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        </tr>
    </tbody>
</table>
<script>

    var tablo = $('#table');

    $(function () {
        $('#delete').click(function () {
          //map ile each(JQuery deki foreach aynı şeydir. Fakat tek farkı map fonksiyonu geriye array türünde nesne döndürür.) 
            var ids = $.map(tablo.bootstrapTable('getSelections'), function (row) {
                
                return row.id;
            });
            Delete(ids);
            tablo.bootstrapTable('remove', {
                field: 'id',
                values: ids
            });
        });
    });


    $('#update').click(function () {
        var ids = $.map(tablo.bootstrapTable('getSelections'), function (row) {
            console.log(row);
            Update(row.id);
            return row.id;
        });



        tablo.bootstrapTable('updateRow', {
            index: 'id',
            row: {

            }
        });
    })


    function ajaxRequest(value) {
        var url = "https://localhost:44353/api/Kisi/GET";
        $.get(url + '?' + $.param(value.data)).then(function (result) {
            // console.log(result.length);
            //console.log(result);

            value.success(result);

        });
    };



    function Delete(id) {
        console.log(id);
        var _data = JSON.stringify(id);
        console.log(_data);
        $.ajax({
            url: "https://localhost:44353/api/Kisi/Delete",
            type: 'DELETE',
            dataType: 'json',
            data: _data,
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                alert("Silme Başarılı!");
                window.location.href = 'https://localhost:44368/Kisi';
            },
            error: function (err) {
                console.log(err);
            }

        });
    };



    function Update(id) {
        //var frm = $('#form');
        //var _data = JSON.stringify(frm.serializeJSON());
        $.ajax({
            url: 'https://localhost:44353/api/Kisi/Put/' + id,
            type: 'PUT',
            dataType: 'json',
            data: { id: id },
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (result) {
                console.log(result);
                alert("Kayıt");

                window.location.href = 'https://localhost:44368/Kisi/Edit';
            },
            failure: function (err) {
                console.log(err);
                alert("Yanlış");
            }
        });
    };



</script>