@{
    ViewData["Title"] = "Login";
}
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
       
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
  
    <button type="button" class="btn btn-primary" id="btnLogin">Giriş</button>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $("#btnLogin").click(function () {
        var user2 = $("#exampleInputEmail1").val();
        var passw = $("#exampleInputPassword1").val();
        console.log("username=>" + user2);
        console.log("password=>" + passw);
        console.log(typeof user2);
        console.log(typeof passw);
        var _url = "https://localhost:44353/api/Login/Login";
        $.ajax(
            {
                type: 'POST',
                url: _url,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: { 'username': 'deneme', 'password': 'deneme' },
                success:
                    function (response) {
                        // Generate HTML table.  
                     //   convertJsonToHtmlTable(JSON.parse(response), $("#TableId"));
                    },
                error:
                    function (response) {
                        alert("Error: " + response);
                    }
            });

    });
</script>